footer
{
	width:100%;
    height: 400px;
	background-color:#f0f0f0;/* u can change the color of your footer backgroun from here*/
	
}
#foot{
	width:100%;
	height:200px;
	margin:0 auto;
}
div.social{
	margin-top:100px;
	float:left;
}
h3{
	margin-top:20px;
	float:left;
	display:block;
}
#Services p{
	float:left;
	margin-top:20px;
	padding: 0 auto;
	display:table-row;
	color:red;
}

#icons i:hover{
    color: red;
}

i{
    margin:5px;
}

/*section{
    background-color: black;
}*/